.shadow-scroll {
  background-image: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0)),
    linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0)),
    linear-gradient(to bottom, #00000033, rgba(255, 255, 255, 0)),
    linear-gradient(to top, #00000033, rgba(255, 255, 255, 0));

  background-position: 0 0, 0 100%, 0 0, 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 10rem, 100% 10rem, 100% 2rem, 100% 2rem;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

.game-text-green {
  color: #37eea2;
}

.game-text-blue {
  color: #5ddcfd;
}

.bounce {
  animation: bounce 1.5s infinite;
}

.invite-btn {
  min-width: 100px;
}

app-dollar-jumping ::ng-deep svg {
  width: 100%;
}

ng-scrollbar {
  --scrollbar-size: 3px !important;
}

ng-scrollbar[scrollShadow] {
  overflow: hidden;
}
