@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Gotham Pro'), url('../../assets/fonts/roboto/GothaProReg.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Gotham Pro'), url('../../assets/fonts/roboto/GothaProBla.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Gotham Pro'), url('../../assets/fonts/roboto/GothaProLig.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Gotham Pro'), url('../../assets/fonts/roboto/GothaProMed.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Gotham Pro'), url('../../assets/fonts/roboto/GothaProLigIta.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Gotham Pro'), url('../../assets/fonts/roboto/GothaProBol.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Pro Medium';
  font-style: italic;
  font-weight: 500;
  src: local('Gotham Pro Medium'), url('../../assets/fonts/roboto/GothamProMediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
  url('../../assets/fonts/roboto/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
  url('../../assets/fonts/roboto/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
  url('../../assets/fonts/roboto/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'),
  url('../../assets/fonts/roboto/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/roboto/Roboto-BlackItalic.woff2') format('woff2'),
  url('../../assets/fonts/roboto/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
