$bgColorLight: #ffffff;
$bgSecondaryColorLight: #ffffff;
$bgPanelColorLight: #ffffff;
$bgPrimaryTransparentLight: #fff3e7;
$textColorLight: #000000;
$primaryColorLight: #3699ff;
$borderColorLight: #cbd5e1; // border-slate-300

$bgColorDark: #292e39;//#3f3f3f;//#313339;
$bgSecondaryColorDark: #293140; //#313742;//#2f384a; //#2d333f;//#2b2d31;//#1e1f22;
$bgPanelColorDark: #2f384a;//#2f384a; //#2b2d31;
$bgPrimaryTransparentDark: #413931;
$textColorDark: #cccccc; //#afafaf; //#8a8a8a;
$primaryColorDark: #3699ff;
$borderColorDark: #646a70; //#adb5bd;

@mixin tyqoonLight() {
  --bgColor: #{$bgColorLight};
  --bgSecondaryColor: #{$bgSecondaryColorLight};
  --bgPanelColor: #{$bgPanelColorLight};
  --bgPrimaryTransparent: #{$bgPrimaryTransparentLight};
  --textColor: #{$textColorLight};
  --primaryColor: #{$primaryColorLight};
  --borderColor: #{$borderColorLight};
}

@mixin tyqoonDark() {
  --bgColor: #{$bgColorDark};
  --bgSecondaryColor: #{$bgSecondaryColorDark};
  --bgPanelColor: #{$bgPanelColorDark};
  --bgPrimaryTransparent: #{$bgPrimaryTransparentDark};
  --textColor: #{$textColorDark};
  --primaryColor: #{$primaryColorDark};
  --borderColor: #{$borderColorDark};
}
